.nav {
	padding: 1rem 0;
	width: min(100% - 3rem, 75rem);
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: currentColor;
	font-family: var(--ff-roboto);
	font-size: .8rem;
}


.logocontainer svg {
	width: 7.5rem;
	color: currentColor;
}

.centernav a, .rightnav a {
	padding: .31rem .71rem;
	color: currentColor;
}

.side {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	height: 100dvh;
}


.sidebutton {
	line-height: 1;
	border-radius: .2rem;
	padding: .7rem .71rem .6rem 1rem;
	transition: background .3s ease;
}

.sidebutton:hover {
	background: rgba(0, 0, 0, .04);
}

.closebutton {

	width: max-content;
	align-self: flex-end;
	cursor: pointer;
	line-height: 1;
	border-radius: .2rem;
	padding: .7rem .71rem .6rem 1rem;
	border: none;
	background: none;
	z-index: 999;
}

.togglebutton {
	background: none;
	border: none;
}

.closebutton:hover {
	background: rgba(0, 0, 0, .04);
}

.menu {
	padding: .31rem .71rem;
	color: currentColor;
	cursor: pointer;
	background: none;
	border: none;
}

.backdrop {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--width);
	height: var(--height);
	background-color: rgba(0, 0, 0, .06);
	backdrop-filter: blur(5px);
	border-radius: .3rem;
	transform: translateX(var(--left)) translateY(var(--top));
	transition: all .5s ease-in-out;
	opacity: 0;
	z-index: -1;

}

@media (width < 75rem) {
	.centernav, .rightnav > a:nth-child(1), .rightnav > a:nth-child(2) {
		display: none;
	}

	.menu {
		background-color: rgba(0, 0, 0, .06);
		border-radius: .3rem;
	}
}